:root {
  --brand-primary: #03A9F4;
}

.ember-tabs {
  -webkit-tap-highlight-color: transparent;
}

.ember-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.ember-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.ember-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.ember-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.ember-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.ember-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.ember-tabs__tab-panel {
  display: none;
}

.ember-tabs__tab-panel--selected {
  display: block;
}

.avengers-tab-list {
  margin: 0;
  padding: 0;
}
.avengers-tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 6px 12px 0;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
}
.avengers-tab--selected {
  box-shadow: 2px -1px 2px 0px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: black;
  z-index: 3;
}
.avengers-tab-panel {
  padding: 10px;
  display: none;
  z-index: 2;
  position: relative;
}
.avengers-tab-panel--selected {
  box-shadow: 2px -1px 2px 0px rgba(0, 0, 0, 0.5);
  display: block;
}
