{{page-title "Examples"}}

{{! MD-BLOCK }}

# Examples

## Super Mario Example

{{! MD-BLOCK }}

<p class="py-10">
  <SuperMarioExample />
</p>

<p>
  <CodeSnippet @name="super-mario-example.hbs" />
</p>

{{! MD-BLOCK }}

<br />

## Matt Groening Example

{{! MD-BLOCK }}

<p class="py-10">
  <MattGroeningExample />
</p>

<p>
  <CodeSnippet @name="matt-groening-example.hbs" />
</p>

{{! MD-BLOCK }}

<br />

## Avengers Example

{{! MD-BLOCK }}

<p class="py-10">
  <AvengersExample />
</p>

<p>
  <CodeSnippet @name="avengers-example.hbs" />
</p>