{{page-title "Usage"}}

{{! MD-BLOCK }}

# Usage

## Compatibility

This addon is tested on **Ember.js v3.16** and above.

## Installation

```
ember install ember-aria-tabs
```

## Controlled vs Uncontrolled mode

ember-aria-tabs has two different modes it can operate in, which change the way how much you need to take care about the state yourself.

### Uncontrolled mode

This is the default mode of ember-aria-tabs and makes the ember-aria-tabs components handle its state internally. You can change the starting tab with `@defaultIndex` and you can listen for changes with `@onSelect`.

In this mode you cannot force a tab change during runtime.

{{! MD-BLOCK }}

<p class="pb-8">
  <CodeBlock @code={{this.uncontrolledMode}} @language="markup" />
</p>

{{! MD-BLOCK }}

### Controlled mode

This mode has to be enabled by supplying `@selectedIndex` to the `<AriaTabs />` component.

In this mode ember-aria-tabs does not handle any tab selection state internally and leaves all the state management up to the outer application.

This mode also enforces you to set a handler for `@onSelect`. `@defaultIndex` does not have any effect and will therefore throw an error.

{{! MD-BLOCK }}

<p class="pb-8">
  <CodeBlock @code={{this.controlledMode}} @language="markup" />
</p>

{{! MD-BLOCK }}

## Styling

ember-aria-tabs does not include any style loading by default. 

However it does provide you default classes for each components and you can also customize components individually with classic `class` and `style` attributes.

{{! MD-BLOCK }}